@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
#root{
  min-height: 100vh;
  display: flex;
  animation:fadeIn 2.0s ;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg: #e5e9f186;
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --sidebar-bg: #2c2c2c;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  background-color: var(--sidebar-bg);
  transition: background-color 0.3s;
}
