.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 25vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 15px;
    color: #000000;
}
.dark .nav{
    color:#ffffff
}
.main .nav img{
    width: 50px;
    border-radius: 50px;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main-container .greet{
    margin-top: 140px;
    margin-left: 350px;
    font-size: 38px;
    color:#c4c7c5;
    font-weight: 600px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 50px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
    border: 0;
    outline-width: 1px;
    outline-style: solid;
    border-radius: 3px;
    outline-color: #c4c7c5;
    padding: 10px 20px;
    border-radius: 50px;
}
.dark .search-box{
    background-color: transparent;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 8px;
    font-size: 18px;
}
.dark .search-box input{
    color: #ffffff;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img{
    width: 40px;
    border-radius: 50px;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
border-radius: 4px;
border: none;
background-color: #f6f7f8;
background: linear-gradient(to right,#b1d5ee,#c953e98a,#9ed7ff);
background-size: 800px 50px;
height: 20px;
animation: loader 4s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;

    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300px;
    line-height: 1.8;
}